<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>WareFlow</title>
<link rel="stylesheet" href="/static/home.css">
</head>

<body>

<header class="navbar">
<div>
    <img src="../static/WORKFLOW.png" height="75" alt="my logo ">

</div>


<div class="nav-buttons">
<a href="/login" class="primary">Login</a>
<a href="/signup" class="secondary">Sign Up</a>
</div>

</header>


<section class="hero">

<div class="hero-text">

<h1>
Smart <br>
Warehouse & <br>
<span>Inventory</span> <br>
Management
</h1>

<p>
Track products, manage warehouse operations, monitor stock levels,
and streamline deliveries in one powerful platform.
</p>

<div class="hero-buttons">
<a href="/signup" class="primary">Get started</a>

</div>

</div>


<div class="hero-image">
<img src="../static/WORKFLOW.png" alt="warehouse">
</div>

</section>
</body>
</html>
